<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <img src="../../../assets/20210823_004151.jpg" class="img-fluid">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <p>Acosta Jonathan Brian Nicolás</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <span>
                <h1>Acerca de mi</h1>
            </span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque accusantium aperiam odit voluptas, possimus rerum optio praesentium alias odio, nisi tempore sed atque. Suscipit molestiae laudantium, aut soluta ex recusandae!</p>
        </div>
    </div>
</div>