<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="container">
            <img src="../../../assets/20210823_004151.jpg" class="img-fluid crop" id="fotodeperfil">
            </div>
            <h3 id="nombre">Acosta Jonathan Brian Nicolás</h3>
            <p><b>Full Stack Developer Jr</b></p>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" id="acercademi">
            <span>
                <h1>Acerca de mi</h1>
            </span>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque accusantium aperiam odit voluptas, possimus rerum optio praesentium alias odio, nisi tempore sed atque. Suscipit molestiae laudantium, aut soluta ex recusandae!</p>
        </div>
    </div>
</div>