/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(26, 25, 25);
    text-shadow: rgb(0, 255, 21) 0px 3px 10px;
    color: aliceblue;
}

#titulo{
    text-align: center;
    cursor: default;
}