.contenedor{
    width: auto;
}

.descripcion,.imagen{
    display: inline-block;
    text-align: justify;
}

.imagen{
    margin-bottom: 10px;
}
img{
    
    box-shadow: 10px 15px 20px rgb(17, 238, 35);
}