<div class="btn-group">
    <button type="button" class="btn btn-outline-danger" (click)="login()">Log in</button>
    <button type="button" class="btn btn-outline-success" (click)="signIn()">Sign in</button>
</div>

<!-- Agrega el formulario de inicio de sesión aquí -->
<div *ngIf="showLoginForm">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="username">Nombre de Usuario:</label>
      <input type="text" id="username" name="username" required [(ngModel)]="username">
  
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required [(ngModel)]="password">
  
      <button type="submit">Iniciar Sesión</button>
    </form>
</div>