<div class="container">
    <div class="row">
        <h1 id="titulo">Proyectos realizados</h1>
        <div class="contenedor">
            <div class="descripcion">
                <h1>Conversor de Notación infija a postfija</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quidem exercitationem aperiam,
                    incidunt nemo inventore eaque ipsum blanditiis, impedit laboriosam non esse necessitatibus! Impedit
                    temporibus ea aperiam suscipit natus consequuntur.</p>
            </div>
            <div class="imagen">
                <img src="../../../assets/proyecto infija postfija.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>