.row{
    padding: 20px;
}
.table {
    color: aliceblue;
    align-content: start;
}
#subtitulo,h3{
    display: inline;
}
.descripcion
{
    padding-left:50px;
}

h1
{
    text-align: center;
}