<div>
    <a href=""><img src="../../../assets/facebook.png" alt=""></a>
    <a href=""><img src="../../../assets/github.png" alt=""></a>
    <a href=""><img src="../../../assets/instagram.png" alt=""></a>
    <a href=""><img src="../../../assets/linkedin.png" alt=""></a>
    <a href=""><img src="../../../assets/twitter.png" alt=""></a>
    <i class="fa fa-camera-retro fa-lg"></i> fa-lg
<i class="fa fa-camera-retro fa-2x"></i> fa-2x
<i class="fa fa-camera-retro fa-3x"></i> fa-3x
<i class="fa fa-camera-retro fa-4x"></i> fa-4x
<i class="fa fa-camera-retro fa-5x"></i> fa-5x
</div>