.contenedor{
    width: 100vw;
}

.descripcion,.imagen{
    display: inline-block;
    text-align: justify;
}

.imagen{
    margin-bottom: 30px;
}
img{
    
    box-shadow: 10px 10px 20px rgb(17, 238, 35);
}