<div class="row">
    <h1 id="titulo">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 id="subtitulo">Trabajo 1</h1> - <h3>(years)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, tenetur distinctio dolore, natus reprehenderit, non est atque mollitia quod at excepturi nulla sed veritatis perspiciatis quibusdam error vitae obcaecati doloremque.</p>
            </li>
            <li>
                <h1 id="subtitulo">Trabajo 2</h1> - <h3>(years)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, tenetur distinctio dolore, natus reprehenderit, non est atque mollitia quod at excepturi nulla sed veritatis perspiciatis quibusdam error vitae obcaecati doloremque.</p>
            </li>
            <li>
                <h1 id="subtitulo">Trabajo 3</h1> - <h3>(years)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, tenetur distinctio dolore, natus reprehenderit, non est atque mollitia quod at excepturi nulla sed veritatis perspiciatis quibusdam error vitae obcaecati doloremque.</p>
            </li>
        </ul>
    </div>
</div>